{% extends "main.html" %}

{% block content %}
<center>
    <div class="head">
        <h1>This Is Update Page</h1>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Title:</label>
        <input type="text" name="title" value="{{data.title}}" id=""><br><br>

        <label for="">Desc:</label>
        <input type="text" name="desc" value="{{data.desc}}" id=""><br><br>

        <button type="submit">submit</button>
    </form>
</center>

{% endblock content %}

